#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: 100%;
    height: 100vh;

    padding: 45px 130px 0;
    
    /* background-image: linear-gradient(90.18deg, rgba(13, 22, 46, 0.7) 23.21%, rgba(13, 22, 46, 0.0001) 96.69%), url('../assets/img/background.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}