.form {
    display: flex;
    align-items: stretch;
    column-gap: 24px;
    width: 100%;
    height: 48px;
    margin-top: 28px;
  }
  .form input {
    flex: 1;
    border: 0;
    height: 100%;
    border-radius: 6px;
    padding: 0 16px;
    background: rgba(255,255,255, 0.1);
    outline: none;
  }
  .form input::placeholder {
    color: #c0c0c0;
  }
  .form button {
    width: 48px;
    border: 0;
    border-radius: 6px;
    background: var(--linear);
  
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  @media(max-width: 650px) {
    .form {
      flex-direction: column;
      gap: 16px 0;
      height: auto;
    }
  
    .form input {
      padding: 10px 12px;
    }
  
    .form button {
      height: 40px;
      width: 100%;
  
      font-size: 1rem;
    }
  
    .form button::before {
      content: 'Adicionar'
    }
  }