header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 64px;
}

.button__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 10px;

    width: 46px;

    background: transparent;
}

.button__menu span {
    width: 100%;
    height: 4px;
    border-radius: 6px;

    display: block;
    background: var(--primary)

}

.button__menu span:last-child {
    width: 50%;
}