.movie {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 12px;
} 

.movie span, .rating strong, .movie button {
    font-size: 1.25rem;
    line-height: 1.5rem;
}

.movie h1 {
    font-size: 3rem;
    line-height: 4rem;
    font-weight: 700;
}

.movie p {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;

    width: 100%;
    max-width: 540px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
}

.movie button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;

    margin-top: 20px;

    width: 250px;
    height: 70px;
    padding: 0 42px;
    border-radius: 35px;
    background: var(--linear);
    box-shadow: 0px 3px 50px rgba(0, 0, 0, 0.160784);

    transition: filter 0.6s;
}

.movie button:hover {
    filter: brightness(0.8);
}

.rating {
    display: flex;
    align-items: center;
    column-gap: 18px;
}

.rating strong {
    font-weight: 600;
}