.movie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  position: relative;
  padding-left: 10px;
  padding-bottom: 16px;

  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-image: linear-gradient(180deg, rgba(14, 23, 47, 0.0001) 11.72%, #0E172F 100%);
}

.movie span {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 400;
  margin-bottom: 6px;
}
.movie strong {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 600;
}
.movie button {
  position: absolute;
  inset: 0;
  margin: auto;
  background: transparent;
  width: 36px;
  height: 36px;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s;
}
.movie:hover button {
  opacity: 1;
  transform: translateY(0);
}
.movie__image {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition: all 0.6s;
}
.movie__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie.active-movie .movie__image {
  filter: grayscale(1);
  opacity: 0.5;
}

.movie.active-movie button {
  display: none;
}

@media(max-width: 650px) {
  #movies {
    grid-template-columns: 1fr;
  }

  .movie {
    width: 100%;
  }
}