.movies {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
  
  .movies h2 {
    font-size: 1.75rem;
    line-height: 2.125rem;
    font-weight: 700;
  }
  
  .movies div {
    height: 640px;
    overflow: auto;
    padding-right: 44px;
  }
  
  .movies div::-webkit-scrollbar {
    width: 0.2rem;
  }
  /* Track */
  .movies div::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.4);
  }
  /* Handle */
  .movies div::-webkit-scrollbar-thumb {
    background: var(--primary);
  }
  
  .movies ul {
    display: flex;
    flex-direction: column;
  }
  
  .movies li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
  
    position: relative;
    padding-left: 10px;
    padding-bottom: 16px;
  
    width: 265px;
    height: 150px;
    border-radius: 8px;
  
    background-image: linear-gradient(180deg, rgba(14, 23, 47, 0.0001) 11.72%, #0E172F 100%), url('/assets/item-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .movies li:not(:first-child) {
    margin-top: 50px;
  }
  
  .movies li span {
    font-size: 0.875rem;
    line-height: 1.125rem;
    font-weight: 400;
  
    margin-bottom: 6px;
  }
  
  .movies li strong {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 600;
  }
  
  .movies li button {
    position: absolute;
    inset: 0;
  
    margin: auto;
    background: transparent;
  
    width: 36px;
    height: 36px;
  
    opacity: 0;
    transform: translateY(40px);
  
    transition: all 0.6s;
  }
  
  .movies li:hover button {
    opacity: 1;
    transform: translateY(0);
  }